.work-container {
	margin-bottom: 10px;
}
.work-item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.work-item p {
	margin: 0 10px 0 0;
}

.btn {
	margin: 5px;
}

.form-control {
	width: 40vb;
	display: inline;
}
